table {
    border-collapse: collapse;
}
table > tr > th {
    width: auto;
}
th {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 30%;
}
td {
    padding: 5px;
    text-align: center;
    font-size: large;
}
tr:nth-child(even) {
    background-color: rgb(238, 237, 237);
}

.fav {
    border-radius: 5px;
    background-color: transparent;
    border: none;
}
button:focus {
    outline: none;
}
